* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #cad1e9;
}
body {
  font-family: "rubik", sans-serif;
  color: #cad1e9;
  background-color: #050520;
  font-size: 16px;
  line-height: 1;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.section-content {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* NAVIGATION BAR */
.nav-container {
  display: flex;
  background-color: #050520;
  align-items: center;
  justify-content: center;
  height: 90px;
  width: 100%;
  position: fixed;
  top: 0;
  border: solid 1.5px #1f2035;
  border-radius: 20px;
  margin-top: 8px;
  z-index: 2;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  width: 1200px;
}

.logo {
  width: 163px;
  height: auto;
}

a:link,
a:visited {
  padding: 0 14px;
  text-decoration: none;
}

a:active,
a:hover,
.active {
  color: #5aafff;
  font-weight: 500;
}

.nav-btn,
.hero-btn-1,
.hero-btn-2 {
  padding: 14px 18px;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  width: 166px;

  border: none;
  border-radius: 12px;
  color: white;
  background-image: linear-gradient(to bottom, #0b0b26, #21223c);

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.nav-btn::after,
.hero-btn-1::after,
.hero-btn-2::after {
  content: "";
  position: absolute;
  height: 52px;
  width: 170px;
  border: 2px;
  border-radius: 14px;
  background-image: linear-gradient(to bottom right, #4e4e692f, #4e4e69);
  z-index: -1;
}

.hero-btn-1::after {
  background-image: linear-gradient(to right, #ff8ac698, #feba75c7);
}

.nav-btn:hover,
.hero-btn-2:hover {
  z-index: 0;
  cursor: pointer;
}

.hero-btn-1:hover {
  cursor: pointer;
  box-shadow: 5px 0 12px #ff8ac698, -5px 0 12px #feba75c7;
}

.hero-btn-1 p {
  font-size: 14px;
  font-weight: 600;
  background: linear-gradient(to right, #b67efd, #f088d2, #ffad8b);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.btn-icon {
  width: 20px;
  height: 20px;
}
.hero-start {
  stroke: #ffad8b;
}

.txt-icon {
  font-size: 20px;
  margin-bottom: 2px;
}

/* HERO/SECTION 01 */
.hero {
  background-image: url(images/hero-bg-img.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
}
.hero-content {
  margin-top: 100px;
}
.hero-text {
  flex-basis: 480px;
}

.headline {
  font-size: 72px;
  line-height: 1.2;
  letter-spacing: -1.5px;
  margin-bottom: 28px;
}

.h0ne {
  margin-bottom: 0;
  background: linear-gradient(to right, #0084ff, #ff8ac7, #feba75);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.subheading {
  line-height: 1.5;
  width: 460px;
}

.hero-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  margin-top: 48px;
}

.hero img {
  flex-basis: 523px;
  height: 333px;
  margin-right: 100px;
}

/* SECTION 02 */
.section-headline {
  font-size: 56px;
  line-height: 1.2;
  letter-spacing: -1.5px;
  margin-bottom: 28px;
}

.section-text {
  flex-basis: 600px;
}

.s2-img {
  flex-basis: 598px;
  height: 439px;
  margin-right: 10px;
}

/* SECTION 03 & 04 */
.s3-img {
  flex-basis: 504px;
  height: auto;
}
.s4-img {
  flex-basis: 521px;
  height: auto;
}

/* SECTION 05 */

.section-content5 {
  display: grid;
  grid-template-columns: 1fr 564px;
  grid-template-rows: 182px 504px 275px;
  gap: 36px;
  width: 1200px;
}

.grid-header {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid-header .section-headline,
.grid-header .subheading {
  text-align: center;
}

.grid-item1,
.grid-item2,
.grid-item3 {
  padding: 40px 0 0 40px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: cover;
}

.grid-item1 {
  background-image: url(images/s5-bg-img1.jpg);
}

.grid-item2 {
  background-image: url(images/s5-bg-img2.jpg);
}
.grid-item3 {
  background-image: url(images/s5-bg-img3.jpg);
  grid-column: 1/ -1;
  display: flex;
  align-items: center;
  padding: 0 0 0 40px;
}

.grid-item-headline {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 16px;
}
