* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #cad1e9;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "rubik", sans-serif;
  color: #cad1e9;
  background-color: #050520;
  font-size: 1.6rem;
  line-height: 1;
}

.mobile-menu {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.mobile-menu-icon {
  height: 4.8rem;
  width: 4.8rem;
  color: #222222;
}

.mobile-menu-icon[name="close-outline"] {
  display: none;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
  max-width: 100%;
}

.section-content,
.nav-bar {
  max-width: 120rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* NAVIGATION BAR */
.header {
  display: flex;
  background-color: #050520;
  align-items: center;
  justify-content: center;
  height: 9rem;
  width: 100%;
  position: fixed;
  top: 0;
  border: solid 1.5px #1f2035;
  border-radius: 2rem;
  margin-top: 0.8rem;
  z-index: 2;
}

.nav-bar {
  width: 120rem;
  height: 9rem;
}

.nav-bar-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}

.logo {
  width: 16.3rem;
  height: auto;
}

.nav-links-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}

a:link,
a:visited {
  display: inline-block;
  padding: 0 1.4rem;
  text-decoration: none;
  transition: all 0.3s;
}

a:active,
a:hover,
.active {
  color: #5aafff;
  font-weight: 500;
}

.nav-btn,
.hero-btn-1,
.hero-btn-2 {
  padding: 1.4rem 1.8rem;
  font-size: 1.4rem;
  font-weight: 500;
  height: 4.8rem;
  width: 166px;
  transition: all 0.4s;

  border: none;
  border-radius: 1.2rem;
  color: white;
  background-image: linear-gradient(to bottom, #0b0b26, #21223c);

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.nav-btn::after,
.hero-btn-1::after,
.hero-btn-2::after {
  content: "";
  position: absolute;
  height: 52px;
  width: 170px;
  border: 2px;
  border-radius: 14px;
  background-image: linear-gradient(to bottom right, #4e4e692f, #4e4e69);
  z-index: -1;
}

.hero-btn-1::after {
  background-image: linear-gradient(to right, #ff8ac698, #feba75c7);
}

.nav-btn:hover,
.hero-btn-2:hover {
  z-index: 0;
  cursor: pointer;
}

.hero-btn-1:hover {
  cursor: pointer;
  box-shadow: 5px 0 12px #ff8ac698, -5px 0 12px #feba75c7;
}

.hero-btn-1 p {
  font-size: 1.4rem;
  font-weight: 600;
  background: linear-gradient(to right, #b67efd, #f088d2, #ffad8b);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.btn-icon {
  width: 2rem;
  height: 2rem;
}

.hero-btn-free-trial {
  stroke: #ffad8b;
}

/* HERO/SECTION 01 */
.hero {
  background-image: url(images/hero-bg-img.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
}

.hero-content {
  margin-top: 10rem;
}

.hero-text {
  flex-basis: 48rem;
}

.headline {
  font-size: 7.2rem;
  line-height: 1.2;
  letter-spacing: -1.5px;
  margin-bottom: 2.8rem;
}

.colored-text {
  background: linear-gradient(to right, #0084ff, #ff8ac7, #feba75);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.subheading {
  line-height: 1.5;
  max-width: 46rem;
}

.hero-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  margin-top: 4.8rem;
}

.hero img {
  flex-basis: 52.3rem;
  height: 33.3rem;
  margin-right: 10rem;
}

/* SECTION 02 */
.section-headline {
  font-size: 5.6rem;
  line-height: 1.2;
  letter-spacing: -1.5px;
  margin-bottom: 2.8rem;
}

.section-text {
  flex-basis: 60rem;
}

.s2-img {
  flex-basis: 59.8rem;
  height: 43.9rem;
  margin-right: 1rem;
}

/* SECTION 03 & 04 */
.s3-img {
  flex-basis: 50.4rem;
  height: auto;
}

.s4-img {
  flex-basis: 52.1rem;
  height: auto;
}

/* SECTION 05 */

.section-content5 {
  display: grid;
  grid-template-columns: 1fr 56.4rem;
  grid-template-rows: 18.2rem 50.4rem 27.5rem;
  gap: 3.6rem;
  width: 120rem;
}

.grid-header {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid-header .section-headline,
.grid-header .subheading {
  text-align: center;
}

.grid-item1,
.grid-item2,
.grid-item3 {
  padding: 4rem 0 0 4rem;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: cover;
}

.grid-item1 {
  background-image: url(images/s5-bg-img1.jpg);
}

.grid-item2 {
  background-image: url(images/s5-bg-img2.jpg);
}

.grid-item3 {
  background-image: url(images/s5-bg-img3.jpg);
  grid-column: 1/ -1;
  display: flex;
  align-items: center;
  padding: 0 0 0 4rem;
}

.grid-item-headline {
  font-size: 3.2rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
}

/* SECTION 06 */

.section-content6 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4.8rem;
  max-width: 120rem;
  align-items: center;
  justify-content: center;
}

.review-subheading {
  max-width: 60rem;
}

.review-cards {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 2rem;
  align-items: start;
  justify-content: center;
}

.review-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
  padding: 2rem 1.2rem;

  position: relative;
  width: 29.5rem;
  height: 25rem;

  border: none;
  border-radius: 1.2rem;
  background-image: linear-gradient(to bottom, #0b0b26, #21223c);
}

.review-card::after {
  content: "";
  position: absolute;

  width: 29.7rem;
  height: 25.2rem;

  border: 2px;
  border-radius: 14px;

  background-image: linear-gradient(to bottom right, #4e4e692f, #4e4e69);
  z-index: -1;
  top: 0;
  right: 0;
}

.columnn-2-card-1 {
  height: 40rem;
}

.columnn-4-card-1 {
  height: 22rem;
}

.columnn-2-card-1.review-card::after {
  height: 40.2rem;
}

.columnn-4-card-1.review-card::after {
  height: 22.2rem;
}

.image-name,
.review-card-column {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.reviewer-name {
  font-size: 2rem;
  font-weight: 600;
}

.review {
  line-height: 1.5;
  color: #afb3ca;
}

.review-card-column {
  flex-direction: column;
  gap: 2rem;
}

/* SECTION 07 */

.pricing-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  padding: 0.6rem;
  width: 36rem;
  margin: 0 auto;

  border: solid 2px #4e4e692f;
  border-radius: 1.6rem;
  background-image: linear-gradient(to bottom, #1b1c3600, #70717a2a);
}

.pricing-tab-2 {
  border: none;
  padding: 1.4rem 1.8rem;
  font-size: 1.4rem;
  font-weight: 500;
  height: 4.8rem;
  width: 166px;
  background-color: #05052000;
  cursor: pointer;
}

.pricing-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5.6rem;
  width: 120rem;
  margin-top: 6.4rem;
}

.pricing-card,
.pricing-card-two,
.price,
.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
  width: 100%;
}

.pricing-card {
  padding: 5.2rem 2rem 8rem;
  border: solid 2px #4e4e692f;
  border-radius: 1.6rem;
  background-image: linear-gradient(to bottom, #1b1c3600, #70717a2a);
}

.pricing-card:hover,
.review:hover {
  transform: translateY(-1rem);
  transition: all 0.4s;
  cursor: pointer;
}

.price {
  gap: 2rem;
}

.pricing-value {
  font-size: 5.6rem;
}

.pricing-list {
  list-style: none;
}

.card-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.2rem;
  margin-bottom: 1.2rem;
}

.pricing-btn-one,
.pricing-btn-two,
.pricing-btn-three {
  cursor: pointer;
  height: 5rem;
  width: 100%;
  position: relative;
  border: none;
  border-radius: 1.4rem;
  color: white;
  background-image: linear-gradient(to bottom, #0b0b26, #21223c);
}

.pricing-btn-one::after,
.pricing-btn-three::after {
  content: "";
  position: absolute;
  height: 5.1rem;
  width: 100.2%;
  border: 6px;
  border-radius: 1.4rem;
  background-image: linear-gradient(to bottom right, #4e4e692f, #4e4e69);
  z-index: -1;
  bottom: 0;
  right: 0;
}

.pricing-btn-two {
  border-right: 2px solid #ff8ac698;
  border-left: 2px solid #b67efd;
  border-top: 2px solid #ff8ac698;
  border-bottom: 2px solid #ff8ac6b4;
}

.pricing-btn-one:hover,
.pricing-btn-three:hover {
  z-index: 0;
  cursor: pointer;
}

.pricing-btn-two:hover {
  cursor: pointer;
  box-shadow: 3px 0 6px #ff8ac698, -3px 0 6px #feba75c7;
}

.pricing-card.pricing-card-two {
  transform: scale(1.15);
  background-image: linear-gradient(to bottom, #0b0b26, #21223c);
  position: relative;
  border: none;
  border-right: 2px solid #ff8ac698;
  border-left: 2px solid #b67efd;
  border-top: 2px solid #b67efd;
  border-bottom: 2px solid #ff8ac698;
  z-index: 0;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 7.2rem;
}
footer,
.socials {
  border-top: 2px solid #2d2e483a;
  padding-top: 4.8rem;
  width: 120rem;
}

.footer-container {
  display: flex;
  flex-direction: column;
}
.footer-link,
.footer-title {
  list-style: none;
  margin-bottom: 2rem;
}

footer a {
  color: #8f94ad;
}

.footer-content li:first-child {
  padding-left: 1.4rem;
  margin-bottom: 3.2rem;
}

.socials,
.social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials {
  gap: 8.8rem;
}

.social {
  gap: 1.2rem;
}
